<!-- Toast Error Content -->
<div class="position-fixed bottom-0 end-0 p-4" style="z-index: 11" th:fragment="toast-error">
  <div id="toast-error" class="toast align-items-center text-white bg-danger border-0" role="alert"
       aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
    <div class="d-flex">
      <div class="toast-body" id="toast-error-content">
        Content
      </div>
      <button type="button" class="btn-close btn-close-white me-3 m-auto" data-bs-dismiss="toast"
              aria-label="Close"></button>
    </div>
  </div>
</div>