<section th:fragment="homepage_public">
    <div class="container-fluid py-3">
        <div class="container pt-5 pb-3">
            <h1 class="display-1 text-primary text-center">01</h1>
            <h1 class="display-4 text-uppercase text-center mb-5">Chào mừng đến với <span
                    class="text-primary">Swift Rent</span></h1>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <img class="w-75 mb-4" src="/images/home-page/about.png" alt="">
                    <p><strong>Swift Rent</strong> là nhà cung cấp dịch vụ cho thuê xe hàng đầu tại Việt Nam, mang đến
                        một loạt các
                        loại xe từ dòng xe kinh tế đến các mẫu xe sang trọng. Với cam kết về chất lượng và sự hài lòng
                        của khách hàng, chúng tôi đảm bảo mọi phương tiện đều được bảo dưỡng tốt và đáng tin cậy.

                        Dịch vụ của chúng tôi đáp ứng nhu cầu cho cả cá nhân và doanh nghiệp, bao gồm thuê xe ngắn hạn
                        và dài hạn, có hoặc không có tài xế. Ngoài ra, chúng tôi còn cung cấp dịch vụ đưa đón tại sân
                        bay để tăng thêm sự tiện lợi.

                        Tại <strong>Swift Rent</strong>, chúng tôi đặt nhu cầu của khách hàng lên hàng đầu và hướng đến
                        việc cung cấp
                        giải pháp thuê xe an toàn, tiện lợi, và tiết kiệm chi phí. Liên hệ với chúng tôi ngay hôm nay để
                        nhận được những ưu đãi thuê xe tốt nhất!</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center p-4 mb-4"
                         style="height: 150px; background-color: #2c2f4e; border-radius: 10px">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4"
                             style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-headset text-secondary"></i>
                        </div>
                        <h4 class="text-light text-uppercase m-0">Hỗ Trợ Thuê Xe 24/7</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center p-4 mb-4"
                         style="height: 150px; background-color: #2c2f4e; border-radius: 10px">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4"
                             style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-car text-secondary"></i>
                        </div>
                        <h4 class="text-light text-uppercase m-0">Đặt Xe Mọi Lúc Mọi Nơi</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center p-4 mb-4"
                         style="height: 150px; background-color: #2c2f4e; border-radius: 10px">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4"
                             style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                        </div>
                        <h4 class="text-light text-uppercase m-0">Nhiều Điểm Nhận Xe Linh Hoạt</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Services Start -->
    <div class="container-fluid py-3">
        <div class="container pt-5 pb-3">
            <h1 class="display-1 text-primary text-center">02</h1>
            <h1 class="display-4 text-uppercase text-center mb-5">Tại Sao Chọn Chúng Tôi?</h1>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-2">
                    <div class="service-item active d-flex flex-column px-4 mb-4" style="border-radius: 15px">
                        <div class="d-flex align-items-center justify-content-between mb-3 mt-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4"
                                 style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-money-check-alt text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">01</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Tài chính</h4>
                        <p class="m-0">Chúng tôi cung cấp một trong những mức giá tốt nhất trên thị trường, với các gói
                            thuê xe linh hoạt phù hợp với mọi ngân sách, dù bạn cần xe trong một ngày hay thuê dài hạn.
                            Các chương trình khuyến mãi và giảm giá thường xuyên của chúng tôi đảm bảo bạn nhận được giá
                            trị tối đa cho số tiền bỏ ra mà không phải hy sinh chất lượng.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-2">
                    <div class="service-item active d-flex flex-column px-4 mb-4" style="border-radius: 15px">
                        <div class="d-flex align-items-center justify-content-between mb-3 mt-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4"
                                 style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-car text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">02</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Chất lượng</h4>
                        <p class="m-0">Tất cả các phương tiện của chúng tôi đều được bảo dưỡng định kỳ và trải qua các
                            kiểm tra chất lượng nghiêm ngặt trước mỗi lần cho thuê. Chúng tôi đảm bảo rằng mỗi chiếc xe
                            đều ở tình trạng tốt nhất, mang đến cho bạn trải nghiệm lái xe an toàn, đáng tin cậy và
                            thoải mái mỗi lần sử dụng.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-2">
                    <div class="service-item active d-flex flex-column px-4 mb-4" style="border-radius: 15px">
                        <div class="d-flex align-items-center justify-content-between mb-3 mt-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4"
                                 style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-file-alt text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">03</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Chính sách</h4>
                        <p class="m-0">Chính sách cho thuê của chúng tôi rõ ràng và tập trung vào khách hàng, không có
                            bất kỳ khoản phí ẩn hay điều khoản phức tạp nào. Dù bạn thuê xe ngắn hạn hay dài hạn, có
                            hoặc không có tài xế, chúng tôi cung cấp quy trình cho thuê mượt mà và minh bạch, giúp bạn
                            dễ dàng và tự tin đáp ứng mọi nhu cầu.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-2">
                    <div class="service-item active d-flex flex-column px-4 mb-4" style="border-radius: 15px">
                        <div class="d-flex align-items-center justify-content-between mb-3 mt-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4"
                                 style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-headset text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">04</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Hỗ trợ</h4>
                        <p class="m-0">Hỗ trợ khách hàng 24/7. Dù bạn cần sự trợ giúp khi đang di chuyển, có câu hỏi về
                            việc thuê xe, hoặc gặp phải bất kỳ vấn đề bất ngờ nào, đội ngũ hỗ trợ tận tâm của chúng tôi
                            luôn sẵn sàng giúp đỡ bạn, đảm bảo sự yên tâm trong suốt quá trình thuê xe.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->

    <!-- Testimonial Start -->
    <div class="container-fluid py-3">
        <div class="container py-5">
            <h1 class="display-1 text-primary text-center">03</h1>
            <h1 class="display-4 text-uppercase text-center mb-5">Mọi người nói gì?</h1>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item d-flex flex-column justify-content-center px-4"
                     style="border-radius: 15px">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <img class="img-fluid ml-n4" src="/img/testimonial-1.jpg" alt="">
                        <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                    </div>
                    <h4 class="text-uppercase mb-2">Client Name</h4>
                    <i class="mb-2">Profession</i>
                    <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr
                        dolor amet sit sea sed</p>
                </div>
                <div class="testimonial-item d-flex flex-column justify-content-center px-4"
                     style="border-radius: 15px">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <img class="img-fluid ml-n4" src="/img/testimonial-2.jpg" alt="">
                        <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                    </div>
                    <h4 class="text-uppercase mb-2">Client Name</h4>
                    <i class="mb-2">Profession</i>
                    <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr
                        dolor amet sit sea sed</p>
                </div>
                <div class="testimonial-item d-flex flex-column justify-content-center px-4"
                     style="border-radius: 15px">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <img class="img-fluid ml-n4" src="/img/testimonial-3.jpg" alt="">
                        <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                    </div>
                    <h4 class="text-uppercase mb-2">Client Name</h4>
                    <i class="mb-2">Profession</i>
                    <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr
                        dolor amet sit sea sed</p>
                </div>
                <div class="testimonial-item d-flex flex-column justify-content-center px-4"
                     style="border-radius: 15px">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <img class="img-fluid ml-n4" src="/img/testimonial-4.jpg" alt="">
                        <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                    </div>
                    <h4 class="text-uppercase mb-2">Client Name</h4>
                    <i class="mb-2">Profession</i>
                    <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr
                        dolor amet sit sea sed</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Rent A Car Start -->
    <div class="container-fluid py-3">
        <div class="container pt-5 pb-3">
            <h1 class="display-1 text-primary text-center">04</h1>
            <h1 class="display-4 text-uppercase text-center mb-5">Tìm chúng tôi ở đâu?</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-2" style="border-radius: 15px">
                        <img class="img-fluid mb-4 image-size" src="/images/location/Ha-noi.jpg" alt="">
                        <div class="d-flex justify-content-start">
                            <h4 class="text-uppercase">Hà Nội</h4>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div>
                                <span>80+ xe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-2" style="border-radius: 15px">
                        <img class="img-fluid mb-4 image-size" src="/images/location/ho-chi-minh.jpg" alt="">
                        <div class="d-flex justify-content-start">
                            <h4 class="text-uppercase">Hồ Chí Minh</h4>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div>
                                <span>100+ xe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-2" style="border-radius: 15px">
                        <img class="img-fluid mb-4 image-size" src="/images/location/Da-nang.jpg" alt="">
                        <div class="d-flex justify-content-start">
                            <h4 class="text-uppercase">Đà Nẵng - Hội An</h4>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div>
                                <span>90+ xe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-2" style="border-radius: 15px">
                        <img class="img-fluid mb-4 image-size" src="/images/location/nha-trang.jpg" alt="">
                        <div class="d-flex justify-content-start">
                            <h4 class="text-uppercase">Nha Trang</h4>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div>
                                <span>50+ xe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-2" style="border-radius: 15px">
                        <img class="img-fluid mb-4 image-size" src="/images/location/da-lat.jpg" alt="">
                        <div class="d-flex justify-content-start">
                            <h4 class="text-uppercase">Đà Lạt</h4>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div>
                                <span>80+ xe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-2" style="border-radius: 15px">
                        <img class="img-fluid mb-4 image-size" src="/images/location/Quang-ninh.jpg" alt="">
                        <div class="d-flex justify-content-start">
                            <h4 class="text-uppercase">Quảng Ninh</h4>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div>
                                <span>80+ xe</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>