<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/images/system/logo.png">
    <title>Login</title>
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap"
          rel="stylesheet">
    <link href="/authentication/css/theme.min.css" rel="stylesheet" id="style-default">
</head>
<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid">
        <div class="row min-vh-100 bg-100">
            <div class="col-6 d-lg-block position-relative">
                <div class="bg-holder"
                     style="box-shadow: 0 0 30px rgba(0, 0, 0, 0.5)">
                    <img class="bg-holder" th:src="@{/images/system/login.jpg}" alt="">
                </div>
                <!--/.bg-holder-->

            </div>
            <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-9 col-xl-8 col-xxl-6">
                        <div class="card">
                            <div class="card-header bg-circle-shape bg-shape text-center p-2"><a
                                    class="font-sans-serif fw-bolder fs-4 z-index-1 position-relative link-light light"
                                    href="/">Swift Rent</a></div>
                            <div th:if="${param.error}" class="alert alert-danger">
                                Invalid username and password
                            </div>
                            <div th:if="${param.logout}" class="alert alert-success">
                                You have been logged out
                            </div>

                            <div class="card-body p-4">
                                <div class="row flex-between-center">
                                    <div class="col-auto">
                                        <h3>Login</h3>
                                    </div>
                                    <div class="col-auto fs--1 text-600"><span
                                            class="mb-0 fw-semi-bold">New User?</span> <span><a th:href="@{/register}">Create account</a></span>
                                    </div>
                                </div>
                                <form method="post" th:action="@{/login}">
                                    <div class="mb-3">
                                        <label class="form-label" for="split-login-email">Email address</label>
                                        <input class="form-control" name="email" id="split-login-email" type="email"/>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="split-login-password">Password</label>
                                        <input class="form-control" name="password" id="split-login-password"
                                               type="password"/>
                                    </div>
                                    <div class="row flex-between-center">
                                        <div class="col-auto">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" type="checkbox" name="remember-me"
                                                       id="split-checkbox"/>
                                                <label class="form-check-label mb-0" for="split-checkbox">Remember
                                                    me</label>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <a class="fs--1" th:href="@{/forgot-password}">Forgot Password?</a>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">
                                            Log in
                                        </button>
                                    </div>
                                </form>

                                <div class="position-relative mt-4">
                                    <hr class="bg-300"/>
                                    <div class="divider-content-center">or log in with</div>
                                </div>
                                <div class="row g-2 mt-2">
                                    <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100"
                                                             href="#"><span class="fab fa-google-plus-g me-2"
                                                                            data-fa-transform="grow-8"></span>
                                        google</a></div>
                                    <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100"
                                                             href="#"><span class="fab fa-facebook-square me-2"
                                                                            data-fa-transform="grow-8"></span> facebook</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/authentication/css/fontawesome/all.min.js"></script>

</body>

</html>