<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Booking</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <style>
        .payment-form {
            max-width: 78%;
            margin: 50px auto;
            padding: 30px;
            background-color: #fff;
        }

        .form-check-input {
            display: none; /* Ẩn radio button */
        }

        .form-check-label {
            display: flex;
            align-items: center;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .form-check-label:hover {
            background-color: #f1f1f1;
        }

        .form-check-input:checked + .form-check-label {
            background-color: #fff9ee;
            border-color: #ffc600;
        }

        .form-check-label img {
            width: 30px;
            margin-right: 10px;
        }

        .btn-pay {
            background-color: #F77D0A;
            color: #fff;
            border: none;
            border-radius: 0.5rem;
            padding: 10px 20px;
            font-size: 1.1rem;
            transition: background-color 0.3s;
        }

        .btn-pay:hover {
            background-color: #218838;
        }

        .btn-container {
            display: flex;
            justify-content: flex-end; /* Căn nút sang bên phải */
        }
    </style>
</head>

<body>

<th:block layout:fragment="content">
    <!-- Page Header Start -->
    <div class="container pt-3 page-header" style="margin-bottom: 0; margin-top: 20px; max-width: 1423px">
        <h1 class="display-3 text-uppercase text-white mb-3">Car Booking</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href="/">Trang chủ</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">Xác nhận</h6>
            <h6 id="slash" class="text-body m-0 px-3" style="display: none">/</h6>
            <h6 id="payment" class="text-uppercase text-body m-0" style="display: none">Thanh toán</h6>
        </div>
    </div>
    <!-- Page Header Start -->
    <form th:action="@{/booking}" method="post" th:object="${booking}" onsubmit="return validateForm(event)"
          enctype="multipart/form-data">
        <!-- Booking detail start -->
        <div class="container-fluid" id="contentDiv">
            <div class="container-fluid pt-5">
                <div class="container">
                    <h2 class="mb-4">Booking Detail</h2>
                    <div id="savedDetails" style="border-radius: 5px;">
                        <div class="row">
                            <label style="font-size: larger; align-content: center; padding-left: 15px; padding-right: 3px; margin: 0"
                                   class="form-label"
                                   for="address">
                                Địa chỉ giao, nhận xe:
                            </label>
                            <input type="text" class="form-control p-4" id="address" placeholder="Chọn Địa Chỉ"
                                   style="height: 50px; background-color: white; border: 0; width: 70%; font-size: large; outline: none; box-shadow: none"
                                   th:value="${myCar.address}" readonly>
                            <button th:if="${myCar.isDelivery()}" type="button" data-toggle="modal"
                                    onclick="selectTypeDelivery()"
                                    data-target="#addressDelivery"
                                    style="border: none; background: none; cursor: pointer;">
                                <i class="fas fa-pen" style="font-size: 1.5rem; color: gray;"></i>
                            </button>
                        </div>
                        <div th:replace="~{model/Customer/select_address_delivery :: addressDelivery}"></div>
                        <div th:replace="~{model/pick_address_search :: pickAddress}"></div>
                        <div class="row">
                            <label style="font-size: larger; align-content: center; padding-left: 15px; padding-right: 3px; margin: 0"
                                   class="form-label"
                                   for="rentalInput">
                                Thời gian nhận - trả xe:
                            </label>
                            <input type="text" class="form-control p-4 datetimepicker-input " id="rentalInput"
                                   name="timeRent"
                                   placeholder="Chọn ngày"
                                   style="background-color: white; border: 0; width: 762px; font-size: larger; outline: none; box-shadow: none"
                                   th:value="${time == '' ? '' : time}" readonly/>
                            <button type="button" data-toggle="modal" data-target="#rentalModal"
                                    style="border: none; background: none; cursor: pointer; margin-left: 15px; "
                                    onclick="transferDate()">
                                <i class="fas fa-pen" style="font-size: 1.5rem; color: gray;"></i>
                            </button>
                        </div>
                        <div th:replace="~{model/pick_time_search :: picktime}"></div>
                    </div>
                </div>
            </div>
            <!-- Booking detail end -->

            <!-- Detail Start -->
            <div class="container-fluid">
                <div class="container pt-5 pb-3">
                    <input th:name="carId" id="carId" th:value="${myCar.getId()}" hidden>
                    <div class="row align-items-stretch pb-2">
                        <div class="col-lg-12">
                            <div class="row align-items-stretch">
                                <div id="carCarousel" class="carousel slide col-lg-8" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <!-- Loop through each image in the imagePaths list -->
                                        <div th:each="image, iterStat : ${myCar.imagePaths}"
                                             class="carousel-item"
                                             th:classappend="${iterStat.index == 0} ? ' active' : ''">
                                            <img class="d-block w-100 img-fluid mb-4" th:src="@{${image}}"
                                                 alt="Car Image"/>
                                        </div>
                                    </div>
                                    <!-- Controls for carousel -->
                                    <a class="carousel-control-prev" href="#carCarousel" role="button"
                                       data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carCarousel" role="button"
                                       data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <div class="col-lg-4 mb-4 ">
                                    <div class="bg-secondary p-5" style="height: 546px">
                                        <div class="price"
                                             th:text="${#numbers.formatInteger(myCar.pricePerDay, 3, 'POINT') + ' Đồng/Ngày'}"></div>
                                        <input id="pricePerDay" hidden th:value="${myCar.pricePerDay}">
                                        <div style="margin-left: -30px; margin-right: 10px;">
                                            <div class="info summary_checkout">
                                                <p style="margin:0 5px" id="checkoutPickup"
                                                   th:text="'Nhận xe: ' + ${pickup == null ? '' : pickup}"></p>
                                                <p style="margin:0 5px" id="checkoutReturn"
                                                   th:text="'Trả xe: ' + ${return == null ? '' : return}"></p>
                                                <input id="pickupDate" th:name="pickupDate" hidden th:value="${pickup}">
                                                <input id="returnDate" th:name="returnDate" hidden th:value="${return}">
                                            </div>
                                            <div class="details summary_checkout">
                                                <p style="margin:0 5px; color: #4f4c4c">Địa điểm giao, nhận xe</p>
                                                <p style="margin:7px 5px; font-size: 17px; color: black"
                                                   id="checkoutAddress"
                                                   th:text="${myCar.address}"></p>
                                                <p th:if="${!myCar.isDelivery()}" style="color: gray; margin:0 5px">Rất
                                                    tiếc, chủ xe
                                                    không hỗ trợ giao xe tận
                                                    nơi</p>
                                                <input id="addressDeliveryCheckout" th:name="'addressDelivery'" hidden
                                                       th:value="${myCar.address}">
                                                <div style="display: flex; align-items: center; margin-left: 5px"
                                                     th:if="${myCar.isDelivery()}">
                                                    <p id="textInforIsDelivery"
                                                       style="color: #F77D0A; margin: 0; font-weight: bolder; display: none">
                                                        Giao xe
                                                        tận
                                                        nơi</p>
                                                </div>
                                                <input id="isDeliveryCheckout" name="isDelivery" value="false" hidden>
                                            </div>
                                        </div>
                                        <div class="details pt-3"
                                             style="margin-left: -30px; color: white; display: flex; justify-content: space-between; align-items: center;">
                                            <div>
                                                <p th:text="'Đơn giá thuê (ngày):'"></p>
                                                <p th:text="'Phí đặt cọc:'"></p>
                                                <p id="delivery" th:text="'Phí giao xe tận nơi: '"
                                                   th:style="${'display: none;'}"></p>
                                            </div>
                                            <div class="d-flex flex-column align-items-end ">
                                                <p style="font-size: larger; font-weight: bolder;"
                                                   th:text="${#numbers.formatInteger(myCar.pricePerDay, 3, 'POINT') + ' Đ'}"></p>
                                                <p style="font-size: larger; font-weight: bolder;"
                                                   th:text="${#numbers.formatInteger(myCar.deposit, 3, 'POINT') + ' Đ'}"></p>
                                                <p id="deliveryValue"
                                                   th:style="${'display: none;'} + ' font-size: larger; font-weight: bolder;'"
                                                   th:text="'100000 Đ'"></p>
                                                <input id="deliveryPrice" th:value="100000" hidden>
                                                <input id="deposit" th:value="${myCar.deposit}" hidden>
                                            </div>
                                        </div>
                                        <hr style="border: 1px solid white; width: 123%; margin: 0 -30px;">
                                        <div class="details pt-3"
                                             style="margin-left: -30px; color: white; display: flex; justify-content: space-between; align-items: center;">
                                            <div>
                                                <p th:text="'Thành tiền:'"></p>
                                            </div>
                                            <div>
                                                <p id="totalAmount" style="font-size: larger; font-weight: bolder;"
                                                   th:text="${#numbers.formatInteger(totalAmount, 3, 'POINT') + ' Đ'}"></p>
                                                <input id="checkoutTotalAmount" th:name="totalAmount"
                                                       th:value="${totalAmount}"
                                                       hidden>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-stretch">
                                <div class="col-lg-7">
                                    <h3 style="font-size: 30px" class="display-4 text-uppercase mb-3 mt-3"
                                        th:text="${myCar.brand.brandName + ' '  + myCar.model.name}"></h3>
                                    <h4 class="mb-2"
                                        th:text="${#numbers.formatInteger(myCar.pricePerDay, 3, 'POINT') + ' Đ/NGÀY'}"></h4>
                                    <div class="d-flex mb-2">
                                        <h6 class="mr-2">Rating:</h6>
                                        <div class="d-flex align-items-center justify-content-center mb-1">
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star-half-alt text-primary mr-1"></small>
                                            <small>(250)</small>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-2">
                                        <h6 class="mr-2">Địa chỉ:</h6>
                                        <span th:text="${myCar.address}"></span>
                                    </div>
                                    <div class="d-flex mb-2">
                                        <h6 class="mr-2">Trạng thái:</h6>
                                        <span th:text="${carStatus.value}"></span>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <label class="mt-3" style="color: #2B2E4A; font-size: larger;font-weight: bolder;"
                                           for="special-request">Ghi chú:</label>
                                    <textarea name="takeNote" class="form-control py-3 px-4" id="special-request"
                                              rows="3"
                                              placeholder="Ghi chú của bạn"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Detail End -->

            <!--        Error Modal -->
            <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"
                 th:data-error="${error != null}">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thông Báo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <span th:text="${error}"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <a href="/mywallet" class="btn btn-primary">Nạp Tiền</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Car Booking Start -->
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10">
                            <!-- Tabs for selecting type of rental -->
                            <div class="tab-container">
                                <ul class="nav nav-tabs justify-content-start" id="rentalTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="renter-tab" data-toggle="tab" href="#renter"
                                           role="tab"
                                           aria-controls="renter" aria-selected="true">Thông tin người lái xe</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content pt-4" id="rentalTabContent">
                                <!-- renter information -->
                                <div class="tab-pane fade show active" id="renter" role="tabpanel"
                                     aria-labelledby="renter-tab">

                                    <div class="d-flex justify-content-end">
                                        <button class="align-items-end" type="button" id="editButton"
                                                onclick="toggleEdit()"
                                                style="border: none; background: none; cursor: pointer;">
                                            <i id="editIcon" class="fas fa-pen"
                                               style="font-size: 1.5rem; color: gray;"></i>
                                        </button>
                                    </div>

                                    <div class="mb-5">
                                        <div class="row">
                                            <div class="col-6 form-group">
                                                <label class="form-label" for="split-name">Họ tên:</label>
                                                <input class="form-control p-1" type="text" id="split-name"
                                                       th:field="*{driverName}"
                                                       required="required" readonly/>
                                                <p class="m-1" style="color: red" role="alert"
                                                   th:if="${#fields.hasErrors('driverName')}"
                                                   th:errors="*{driverName}"></p>
                                            </div>
                                            <div class="col-6 form-group">
                                                <label class="form-label" for="datepicker">Ngày sinh:</label>
                                                <input class="form-control datetimepicker p-1" id="datepicker"
                                                       type="text"
                                                       placeholder="d/m/y" th:field="*{driverDob}"
                                                       data-options='{"disableMobile":true}' readonly/>
                                                <p class="m-1" style="color: red" role="alert"
                                                   th:if="${#fields.hasErrors('driverDob')}"
                                                   th:errors="*{driverDob}"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 form-group">
                                                <label class="form-label" for="phone">Số điện thoại:</label>
                                                <input class="form-control p-1" type="text" id="phone"
                                                       th:field="*{driverPhone}"
                                                       required="required" readonly/>
                                                <p class="m-1" style="color: red" role="alert"
                                                   th:if="${#fields.hasErrors('driverPhone')}"
                                                   th:errors="*{driverPhone}"></p>
                                            </div>
                                            <div class="col-6 form-group">
                                                <label class="form-label" for="email">Email:</label>
                                                <input class="form-control p-1" type="email" id="email"
                                                       th:field="*{driverEmail}"
                                                       required="required" readonly/>
                                                <p class="m-1" style="color: red" role="alert"
                                                   th:if="${#fields.hasErrors('driverEmail')}"
                                                   th:errors="*{driverEmail}"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 form-group">
                                                <label class="form-label" for="nationalId">Số định danh công
                                                    dân:</label>
                                                <input class="form-control p-1" type="text" th:field="*{nationID}"
                                                       id="nationalId" required="required" readonly/>
                                                <p class="m-1" style="color: red" role="alert"
                                                   th:if="${#fields.hasErrors('NationID')}"
                                                   th:errors="*{nationID}"></p>
                                            </div>
                                            <div class="col-6 form-group">
                                                <label class="form-label" for="licenseImg">Bằng lái xe:</label>

                                                <div th:if="${user.drivingLicense != null}">
                                                    <img id="imageDriverLicense"
                                                         th:src="${user.drivingLicense.getFirst()}"
                                                         alt="Driving License"
                                                         class="img-thumbnail" style="max-width: 200px;">
                                                </div>

                                                <input name="driverLicense" class="form-control p-1" type="file"
                                                       id="licenseImg"
                                                       th:style="${user.drivingLicense == null ? 'display: block' : 'display: none'}"
                                                       th:attr="required=${user.drivingLicense == null ? 'required' : null}"/>
                                                <p class="m-1" style="color: red" role="alert"
                                                   th:if="${#fields.hasErrors('driverLiense')}"
                                                   th:errors="*{driverLiense}"></p>
                                            </div>
                                        </div>
                                        <div class="form-group col-8 pl-0">
                                            <label class="form-label" for="addressRenter">Địa chỉ:</label>

                                            <input class="form-control p-1" type="text" th:field="*{driverAddress}"
                                                   id="addressRenter" required="required" readonly/>
                                            <p class="m-1" style="color: red" role="alert"
                                               th:if="${#fields.hasErrors('driverAddress')}"
                                               th:errors="*{driverAddress}"></p>
                                            <input class="mb-2 custom-select" placeholder="Thành phố, tỉnh"
                                                   id="city"
                                                   onclick="suggestCity() " readonly
                                                   style="cursor: pointer; background-color: white" hidden/>
                                            <ul id="suggestionsCity"
                                                style="list-style-type: none; padding: 8px; margin: 0; display: none; position: absolute; z-index: 1000; background: white; border: 1px solid #ccc; width: 100%; max-height: 200px; overflow-y: auto;"></ul>
                                            <input class="mb-2 custom-select" placeholder="Quận, huyện"
                                                   id="district"
                                                   type="text" required="required"
                                                   style="cursor: pointer; background-color: white" readonly
                                                   onclick="suggestDistrict()" hidden/>
                                            <ul id="suggestionsDistrict"
                                                style="list-style-type: none; padding: 0; margin: 0; display: none; position: absolute; z-index: 1000; background: white; border: 1px solid #ccc; width: 100%; max-height: 200px; overflow-y: auto;"></ul>
                                            <input class="mb-2 custom-select" placeholder="Phường, thôn"
                                                   type="text"
                                                   id="ward"
                                                   required="required"
                                                   style="cursor: pointer; background-color: white"
                                                   readonly onclick="suggestWard()" hidden/>
                                            <ul id="suggestionsWard"
                                                style="list-style-type: none; padding: 0; margin: 0; display: none; position: absolute; z-index: 1000; background: white; border: 1px solid #ccc; width: 100%; max-height: 200px; overflow-y: auto;"></ul>
                                            <input class="form-control mb-2" placeholder="Số nhà, tên đường" type="text"
                                                   id="street" hidden/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
                <!-- Car Booking End -->
            </div>
        </div>
        <!--        payment method-->
        <div id="paymentMethod" class="container-fluid" style="display: none;">
            <div class="payment-form" style="margin-bottom: 0">
                <h2 class="mb-5 text-center">Chọn Phương Thức Thanh Toán</h2>
                <!-- Phương thức thanh toán với logo -->
                <div class="form-check mb-3" th:each="payment : ${paymentMethod}">
                    <!-- Đảm bảo mỗi input có id duy nhất -->
                    <input th:value="${payment.key}" class="form-check-input" type="radio" name="paymentMethod"
                           th:id="'payment_' + ${payment.key}">
                    <label class="form-check-label" th:for="'payment_' + ${payment.key}">
                        <img th:src="${payment.getIcon()}" th:alt="${payment.value}">
                        <!-- Kiểm tra nếu payment.key == 1, hiển thị ví của tôi -->
                        <span id="wallet" th:if="${payment.key.equals('1')}"
                              th:data-wallet="${user.wallet}">
                            Ví của tôi
                        </span>

                        <!-- Nếu không, hiển thị payment.value -->
                        <span th:if="${!payment.key.equals('1')}" th:text="${payment.value}"></span>
                    </label>
                </div>

            </div>
        </div>
        <div class="container" style="display: flex; justify-content: center; padding: 0;">
            <div class="container-fluid">
                <!-- Nút thanh toán -->
                <div class="btn-container"
                     style="max-width: 100%; display: flex; justify-content: flex-end; gap: 20px;">
                    <!-- Nút "Trở lại" -->
                    <button type="button" style="width: 20%; display: none;" id="backBtn" onclick="goBack()"
                            class="btn btn-pay">Trở
                        lại
                    </button>

                    <!-- Nút "Tiếp tục" -->
                    <button type="button" style="width: 20%" onclick="toggleDisplay()" id="continueBtn"
                            class="btn btn-pay">Tiếp tục
                    </button>

                    <!-- Nút "Thanh toán" -->
                    <button type="submit" style="width: 20%; display: none" id="checkoutBtn"
                            class="btn btn-pay">Xác nhận thanh toán
                    </button>
                </div>
            </div>
        </div>
    </form>
    <script>
        function toggleDisplay() {

            const editIcon = document.getElementById('editIcon');

            if (!editIcon.classList.contains('fa-pen')) {
                showErrorToast("Vui lòng bấm lưu thông tin trước khi tiếp tục.");
                return;
            }
            // Ẩn các thẻ div có id là contentDiv
            document.getElementById('contentDiv').style.display = 'none';
            document.getElementById('slash').style.display = 'block';
            document.getElementById('payment').style.display = 'block';
            document.getElementById('paymentMethod').style.display = 'block';
            document.getElementById('continueBtn').style.display = 'none';
            document.getElementById('backBtn').style.display = 'block';
            document.getElementById('checkoutBtn').style.display = 'block';
            document.querySelector('.btn-container').style.justifyContent = 'space-between';
        }

        function validateForm(event) {
            const paymentMethods = document.getElementsByName('paymentMethod');
            let isSelected = false;

            // Kiểm tra nếu có phương thức thanh toán nào được chọn
            for (let i = 0; i < paymentMethods.length; i++) {
                if (paymentMethods[i].checked) {
                    isSelected = true;
                    break;
                }
            }

            if (!isSelected) {
                event.preventDefault();  // Ngừng gửi form
                showErrorToast("Vui lòng chọn phương thức thanh toán.");
            }

            return isSelected;  // Nếu có lựa chọn, form sẽ được gửi
        }


        function goBack() {
            // Quay lại trạng thái ban đầu
            document.getElementById('contentDiv').style.display = 'block';
            document.getElementById('slash').style.display = 'none';
            document.getElementById('payment').style.display = 'none';
            document.getElementById('paymentMethod').style.display = 'none';
            document.getElementById('continueBtn').textContent = 'Tiếp tục';
            document.getElementById('backBtn').style.display = 'none';
            document.getElementById('checkoutBtn').style.display = 'none';
            document.getElementById('continueBtn').style.display = 'block';
            // Cập nhật justifyContent để căn nút về bên trái
            document.querySelector('.btn-container').style.justifyContent = 'flex-end';
        }

        document.addEventListener("DOMContentLoaded", function () {
            const errorModalElement = document.getElementById('errorModal');
            const errorExists = errorModalElement.getAttribute('data-error') === 'true';

            if (errorExists) {
                const errorModal = new bootstrap.Modal(errorModalElement);
                errorModal.show();
            }

            // Reset modal content when closed
            errorModalElement.addEventListener('hidden.bs.modal', function () {
                // Optionally reset the error message or any other field if needed
                errorModalElement.querySelector('.modal-body span').textContent = '';
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            const walletElement = document.getElementById('wallet');
            const walletValue = walletElement.getAttribute('data-wallet');
            if (walletValue) {
                const formatted = new Intl.NumberFormat('vi-VN', {
                    style: 'currency',
                    currency: 'VND'
                }).format(walletValue);
                walletElement.textContent = `Ví của tôi (${formatted})`;
            }
        });

    </script>
</th:block>
</body>