<div th:fragment="carRentalDocumentPolicy" class="modal fade" id="carRentalDocumentPolicy" tabindex="-1"
     aria-labelledby="carRentalDocumentPolicyModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width: 700px">
        <div class="modal-content">
            <div class="modal-header" style="font-size: 82px; padding: 7px 1rem;">
                <h5 class="modal-title" style="margin-bottom: 0" id="carRentalDocumentPolicyModalLabel">Giấy tờ thuê
                    xe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Bạn đã có CCCD gắn chip</strong></p>
                <p>Giấy tờ thuê xe bao gồm:</p>
                <ul>
                    <li>Giấy phép lái xe (chủ xe đối chiếu bản gốc với thông tin GPLX đã xác thực trên app Mioto & gửi
                        lại bạn);
                    </li>
                    <li>CCCD gắn chip (chủ xe đối chiếu bản gốc với thông tin cá nhân trên VNeID & gửi lại bạn);</li>
                </ul>

                <p><strong>Bạn chưa có CCCD gắn chip</strong></p>
                <p>Giấy tờ thuê xe bao gồm:</p>
                <ul>
                    <li>Giấy phép lái xe (chủ xe đối chiếu bản gốc với thông tin GPLX đã xác thực trên app Mioto & gửi
                        lại bạn);
                    </li>
                    <li>Passport (chủ xe kiểm tra bản gốc, giữ lại và hoàn trả khi bạn trả xe);</li>
                </ul>

                <p><strong><u>Lưu ý:</u></strong> Khách thuê vui lòng chuẩn bị đầy đủ <span
                        style="text-decoration: underline">BẢN GỐC</span> tất cả giấy tờ thuê xe khi làm thủ tục nhận
                    xe.</p>
            </div>
        </div>
    </div>
</div>
